[Unit]
Description=Orcas daemon
Documentation=man:orcasd(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/orcasd
Environment=RUST_LOG=info
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
